*{
	box-sizing:border-box;
	margin:0;
	padding: 0;
}
body{
	font-family:Helvetica;
}

$brd-radius:3px;

.wrap{
	width:50%;
	margin:10px auto;
	background-color:#ddd;
	padding:5px 15px;
	border-radius: $brd-radius;
	min-height: 450px;
}

.input-text{
	width:100%;
	padding:5px;
	border: none;
	font-size: 15px;
	border-radius: 3px;
	font-size:30px;
	outline:none;
	color:#888;
}
.input-button{
	background-color: #0687C7;
	border: 1px solid #037FBD;
	font-size: 15px;
	padding: 8px 5px;
	color: white;
	border-radius: 1px;
	min-width:100px;
	&.red{

	background-color: #F94759;
	border: 1px solid #DE4227;	

	}
	&.blue{

	}
}
.post-area{
	.post-controls{
		/*margin-top: 5px;
		margin-bottom: 5px;*/
	    float: right;
	    padding: 5px 0px;
	}
	.post-controls:after{
		content: "";
		clear: both;
	}
}

.list-todos{
	clear: both;
	background-color: #ddd;
	ul{
		list-style: none;
		li{
			background: #fff;
			margin-bottom: 5px;
			padding: 4px;
			font-size:30px;
			border-radius: $brd-radius;
			.opts{
				float:right;
				position:relative;
				top:-3px;
				.btn-remove{
					background:none;
					color:#ccc;
					border:none;
					font-size:36px;
				}

				&:after{
					clear:right;
				}

			}


		}

	}
}